/* base CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(#f5f5ff, #ccccfc) no-repeat center center fixed;;

}
header {
  height: 200px;
}
header h1{
  padding: 10px;
  font-family: 'Dosis', sans-serif;

}
body nav {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  height: 80px;
  vertical-align: middle;
  z-index: 1;
}
#navbar{
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.nav-links{
  display:flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav-links #Search {
  font-size: 35px;
  box-shadow: 0 0 0 1px white;
  border-radius: 10px;
}
.nav-links #Logo a{
  display: flex;
}
.nav-links #Logo a p{
  font-size: 35px;
  padding-left: 10px;
  margin: auto;

}
.nav-links #Login {
  margin-right: 2%;
}

nav ul li a:link {
  text-decoration: none;
  color:white;
}
nav ul li a:visited {
  color:white;
  text-decoration: none;
}
nav ul li a:hover {
  color:#e6e6ff;
  text-decoration: none;
}
nav ul li a:active {
  color:white;
  text-decoration: none;
}

.nav-link{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}

#messages{
  width: 80%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

/* Home page CSS */
main {
  width: 90%;
  margin:3% auto 4% auto;

}

.row #col1{
  box-shadow: 0 0 0 1px black;
  border-radius: 10px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}
.row #col1 h1{
  margin:4%;
  text-align: center;
}
.row #col2 ul li{
  width: 90%;
  margin: auto;
  text-align: center;
  list-style: none;
  text-decoration: none;
}
.row #col2 img{
  display: block;
  margin: 10% auto auto auto;
  width: 60%;
}

/* SearchBy */
.scont {
  margin-top:5%;
}
.scont .srow{
  margin: auto;
  display: flex;
  justify-content: center;
}
.scont .srow .scol{
  width: 45%;
  margin: auto;
  font-size: 22px;
  text-align: center;
}
#csv{
  margin-top:10%;
}
.vertline {
  border-left: 1px solid black;
  height: 300px;
  position:absolute;
  left:50%
}

/* Results */
.oneresult{
  border: 1px solid black;
  width:90%;
  margin:auto;
  position:relative;
}
.tablesresult{
  display: flex;
  margin:5% auto 5% auto;
  justify-content:center;
  align-items:center;
}
.yourvalues{
  position: absolute;
  top: 10%;
  left:40%;
  margin:auto;
}
#save{
  position:absolute;
  top:3%;
  right:5%;
}
#twelvefilters{
  margin:auto;
  width:15%;
}
#objresultab{
  width:40%;
  margin:auto;
}
#plots{
  margin-top:4%;
  justify-content:center;
}

/* Register-Login */
.register{
  width: 40%;
  margin:3% auto 3% auto;
}
